#WootLogo {
  top: 0px;
  left: -20px;
  position: absolute;
  width: 167px;
  height: 238px;
  background-color: transparent;
  background-image: url(/woot/w_bg.gif);
  background-repeat: no-repeat;
}

#WootLogo .eye {
  position: absolute;
  width: 44px;
  height: 55px;
  background: url(/woot/w_eye.gif) no-repeat;
}

#WootLogo .eye_lid {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 121px;
  height: 109px;
  background: url(/woot/w_lid.gif) no-repeat;
  z-index: 101;
}
